{% extends 'base.html' %}
{% block content %}
<div class="main-container">
  <div class="container1">
   
</div>
<br />
<br />

    <div class="box">
           <div class="content">
        <h1>Add New Task</h1>
<form action="{% url success %}" method="post">
	{% csrf_token %}
<noscript>
		<p><input type="hidden" name="nojs" id="nojs" /></p>
</noscript>



   <br />
            <p>
              <label for="subj"><h4>Subject</h4></label>
              <input type="text" name="subj" id="name" value="" size="22" />
            </p>
            <p>
              <label for="task"><h4>Task </h4></label>
              <input type="text" name="task" id="name" value="" size="75" />
            </p>
            <p>
              <label for="end"><h4>End Date </h4></label>
              <input type="date" name="end" id="duedate" value="" size="22" />
            </p>
            <p>
              <label for="isDone"><h4>Status </h4></label>
			&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="isDone" value="undone" /><h6 style="display: inline;"> Not Yet Accomplished</h6><br />
			&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="isDone" value="accomplished" /><h6 style="display: inline;"> Accomplished</h6><br />
			&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="isDone" value="cancel" /><h6 style="display: inline;"> Cancelled</h6><br />
            </p>
            <p>
              <input name="submit" type="submit" id="submit" value="Submit Form" />
              &nbsp;
              <input name="reset" type="reset" id="reset" tabindex="5" value="Reset Form" />
            </p>
          </form>
         
      </div>
      
     <div class="sidebar">

        <div id="featured">
          <ul>
            <li>
              <h5>Widget</h5>
              <p><iframe width="220" height="350" src="https://maps.google.com.ph/maps?ie=UTF8&cid=10987794127946762048&q=UP+Information+Technology+Training+Center&iwloc=A&gl=PH&hl=en&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.ph/maps?ie=UTF8&cid=10987794127946762048&q=UP+Information+Technology+Training+Center&iwloc=A&gl=PH&hl=en&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small></p>
            </li>
          </ul>
        </div>
       <div class="subnav">
          <h5>Follow Us!</h5>
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Linkedin</a></li>
          </ul>
        </div>
      </div>

      
      
      <div class="clear"></div>
    </div>
    
 
 </div>
<div class="main-container">
 </div>
 
<div class="callout"> 
    <div class="calloutcontainer"> 
        <div class="container_12"> 
            <div class="grid"> 
                 
            <div class="clear"></div> 
        </div> 
        <div class="calloutoverlay"></div> 
        <div class="calloutoverlaybottom"></div> 
    </div> 
</div> </div> 
{% endblock %}