<!DOCTYPE html>
<title>S-Plan | {{ page }}</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/elegant-press.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}login-box.css" type="text/css" />
<script src="{{ STATIC_URL }}scripts/elegant-press.js" type="text/javascript"></script>
<!--[if IE]><style>#header h1 a:hover{font-size:75px;}</style><![endif]-->
</head>
<body>
<div class="main-container">
  <header>
    <h1><a href="{% url home %}">Planner</a></h1>
    <p id="tagline"><strong>Your Very Own Digital Planner</strong></p>
  </header>
</div>
<div class="main-container">
  <div id="sub-headline">
    <div class="tagline_left"><p id="tagline2">Tel: 123 333 4444 | Mail: <a href="mailto:email@website.com">email@website.com</a></p></div>
    <div class="tagline_right">
      <form action="#" method="post">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" value="Search Our Website&hellip;"   onfocus="if (this.value == 'Search Our Website&hellip;') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search Our Website&hellip;';}" />
          <input type="submit" name="go" id="go" value="Search" />
        </fieldset>
      </form>
    </div>
    <br class="clear" />
  </div>
</div>
<div class="main-container">
{% if user.is_authenticated %}
  <div id="nav-container">
   <nav> 
    <ul class="nav">
      <li class="active"><a href="{% url home %}">Home</a></li>
      <li><a href="{% url calendar %}">Calendar</a></li>
      <li><a href="{% url home %}">Notes List</a>
        <ul>
          <li><a href="{% url event %}">Events</a>
          <li><a href="{% url task %}">Tasks</a></li>
		  <li><a href="{% url reminder %}">Reminders</a></li>
        </ul>
      </li>
      <li><a href="{% url profile %}">Profile</a></li>
      <li><a href="{% url contact %}">Contact</a></li>
      <li class="last"><a href="{% url logout %}">Log Out</a></li>
    </ul>
   </nav> 
    <div class="clear"></div>
  </div>
{% endif %}
</div>
{% block content %}

 
{% endblock %}
 <footer>
    <p class="tagline_left">Copyright &copy; S-Plan 2012 - All Rights Reserved - <a href="http://s-plan.heroku.com">s-plan.heroku.com</a></p>
    <p class="tagline_right">Design by <a href="http://www.priteshgupta.com/" title="Pritesh Gupta" target="_blank" >PriteshGupta.com</a></p>
    <br class="clear" />
  </footer>

<br />
<br />
<!-- Free template distributed by http://freehtml5templates.com -->
    </body>
</html>
