{% extends 'base.html' %}
{% block content %}
<head>
<script type="text/javascript" src="http://www.google.com/jsapi">
	google.load("gdata", "1");
	google.setOnLoadCallback(getMyFeed);
</script>
</head>
<div class="main-container">
  <div class="container1">
  
<br />
<br />
	<h1><script>
		var myService;
		var feedUrl = "https://www.google.com/calendar/feeds/{{user}}/public/full";

		function setupMyService() {
			myService = new google.gdata.calendar.CalendarService('exampleCo-exampleApp-1');
		}

		function getMyFeed() {
			setupMyService();

			myService.getEventsFeed(feedUrl, handleMyFeed, handleError);
		}
	</script>
	</h1>
 </div>
 
<div class="callout"> 
    <div class="calloutcontainer"> 
        <div class="container_12"> 
            <div class="grid"> 
                <div class="alignleft">
				<!-- article class footbox and foot-box-last for two columns -->
                    <h3>Event: <i>noteName</i></h3> 
                    <p>event details</p> 
                </div> 
        <a href="addNote.html" class="more" target="_blank">Add Note</a>
            </div> 
            <div class="clear"></div> 
        </div> 
        <div class="calloutoverlay"></div> 
        <div class="calloutoverlaybottom"></div> 
    </div> 
</div> 
<br /><br />

</div>
<div class="main-container">
 </div>
{% endblock %}
