{% extends 'base.html' %}
{% block content %}
<div class="callout"> 
    <div class="calloutcontainer"> 
        <div class="container_12"> 
            <div class="grid"> 
                <div id="login-box">

					<H2>Login</H2>
					<br />
					<br />
					<form action="/login/" method="post">{% csrf_token %}
					{% if next %}
					<input type="hidden" name="next" value="{{ next }}" />
					{% endif %}
					<div id="login-box-name" style="margin-top:20px;">Username:</div><div id="login-box-field" style="margin-top:20px;"><input name="username" class="form-login" title="Username" value="{{ username }}" size="30" maxlength="2048" /></div>
						<div id="login-box-name">Password:</div><div id="login-box-field"><input name="password" type="password" class="form-login" title="Password" value="" size="30" maxlength="2048" /></div>
							<br />
							<span class="login-box-options"><input type="checkbox" name="1" value="1"> Remember Me <a href="#" style="margin-left:30px;">Forgot password?</a></span>
							<br />
							<br />
						
						<!--<input type="submit" value="" style="background: url(../images/login-btn.png);margin-left:90px; float: left;" />-->
						<a href="{% url home %}"><img src="{{ STATIC_URL }}images/login-btn.png" width="103" height="42" style="margin-left:90px; float: left;" /></a>
						<a href="{% url signup %}"><img src="{{ STATIC_URL }}images/signup-btn.png" width="103" height="42" style="margin-left:10px; float:left;" /></a>
					</form>
				</div>
            </div> 
            <div class="clear"></div> 
        </div> 
        <div class="calloutoverlay"></div> 
        <div class="calloutoverlaybottom"></div> 
    </div> 
</div> 
<br /><br />
{% endblock %}
