{% extends 'base.html' %}
{% block content %}
<div class="main-container">
  <div class="container1">
   
<br />
<br />
	<h1>Profile Information</h1>
    <div class="box">
        <p><div>
          <div id="header1">
    <h1><a href="user_home.html">{{ useraccount.username }}</a></h1>
    <!--<p id="tagline1"><strong>{{ user_type }}</strong></p>-->
  </div><br /><br />
        <span><h5>First Name: </h5> {{ tempUser.first_name }}</span>
		<span><h5>Last Name: </h5> {{ tempUser.last_name }}</span>
		<span><h5>Birthday: </h5> {{ useraccount.birthday }}</span>
		<span><h5>University or College: </h5> {{ useraccount.university }}</span>
		<span><h5>Organization/s: </h5> {{ useraccount.organization }}</span>
</div>
    <br />
    <div class="clear"></div>

<br />
      
      <div class="clear"></div>
    </div>
    
 
 </div>
<div class="main-container">
 </div>
 
<div class="callout"> 
    <div class="calloutcontainer"> 
        <div class="container_12"> 
            <div class="grid"> 
                
            <div class="clear"></div> 
        </div> 
        <div class="calloutoverlay"></div> 
        <div class="calloutoverlaybottom"></div> 
    </div> 
</div> </div> 
{% endblock %}
