{% extends 'base.html' %}
{% block content %}
<div class="main-container">
  <div class="container1">
   <div id="breadcrumb">
    <ul>
      <li class="first">You Are Here</li>
      <li>&#187;</li>
      <li><a href="user_home.html">Home</a></li>
      <li>&#187;</li>
      <li class="current"><a href="profile.html">Profile</a></li>
    </ul>
</div>
<br />
<br />
	<h1>Profile Information</h1>
    <div class="box">
        <p><div>
          <div id="header1">
    <h1><a href="user_home.html">{{ fname }}</a></h1>
    <p id="tagline1"><strong>{{ user_type }}</strong></p>
  </div><br /><br />
        <span><h5>First Name: </h5> {{ fname }}</span>
		<span><h5>Last Name: </h5> {{ lname }}</span>
		<span><h5>Birthday: </h5> {{ bday }}</span>
		<span><h5>University or College: </h5> {{ school }}</span>
		<span><h5>Organization/s: </h5> {{ organization }}</span>
</div>
    <br />
    <div class="clear"></div>

<br />
      
      <div class="clear"></div>
    </div>
    
 
 </div>
<div class="main-container">
 </div>
 
<div class="callout"> 
    <div class="calloutcontainer"> 
        <div class="container_12"> 
            <div class="grid"> 
                
            <div class="clear"></div> 
        </div> 
        <div class="calloutoverlay"></div> 
        <div class="calloutoverlaybottom"></div> 
    </div> 
</div> </div> 
{% endblock %}
