{% extends 'base.html' %}
{% block content %}
<div class="main-container">
  <div class="container1">
   
<br />
<br />
	<!-- filter option? i.e. by org, by order -->
    <div class="box">
      <div class="block"><h2>New entry saved!</h2>
	  <br /><h6>Congratulations!</h6>
	<h6>You have successfully added a new entry.</h6>
      </div>
      
      <div class="clear"></div>

<br />
    </div>
    
 
 </div>
<div class="main-container">
 </div>
 
<div class="callout"> 
    <div class="calloutcontainer"> 
        <div class="container_12"> 
            <div class="grid"> 
				<br /><br /><br /><br />
				<a href="{% url addreminder %}" class="more">Add Reminder</a>
            <div class="clear"></div> 
        </div> 
        <div class="calloutoverlay"></div> 
        <div class="calloutoverlaybottom"></div> 
    </div> 
</div> </div> 
{% endblock %}
