{% extends 'base.html' %}
{% block content %}
<div class="main-container">
  <div class="container1">
   <div id="breadcrumb">
    <ul>
      <li class="first">You Are Here</li>
      <li>&#187;</li>
      <li class="current"><a href="user_home.html">Home</a></li>
    </ul>
</div>
<br />
<br />

        <article class="box" id="home_featured21">
      <div class="block"><h2>Events</h2>
	  <br /><br />
        <ul id="list">
        {% for event in event_list %}
			<li>{{ event }}</li>
		{% endfor %}
        </ul>
		<a href="events.html" class="read_more">See Events</a> 

      </div>
      <div class="block"><h2>Tasks</h2>
<br /><br />
        <ul id="list">
        {% for task in task_list %}
			<li>{{ task }}</li>
		{% endfor %}
        </ul>
	
		<a href="tasks.html" class="read_more">See Tasks</a>
      </div>
      <div class="block last"><h2>Reminders</h2>
	  <br /><br />
        <ul id="list">
        {% for rem in rem_list %}
			<li>{{ rem }}</li>
		{% endfor %}
        </ul>
		<a href="reminders.html" class="read_more">See Reminders</a>
      </div>
      <div class="clear"></div>
    </article>

<br />    
 
 </div>
<div class="main-container">
 </div>
 
<div class="callout"> 
    <div class="calloutcontainer"> 
        <div class="container_12"> 
            <div class="grid"> 
				<!-- <a href="addNote.html" class="more" target="_blank">Add Note</a> -->
            <div class="clear"></div> 
        </div> 
        <div class="calloutoverlay"></div> 
        <div class="calloutoverlaybottom"></div> 
    </div> 
</div> </div> 
{% endblock %}